.footer {
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    color: #fff;
    margin-left: 25vw;
}
.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 1rem;
}